.content {
	width: 1920px;
	height: 1080px;
}

#match-name{
	color: #fbfffe;
	font-size: 22px;
	font-weight: bold;
	background-color: #23272a;
	position: absolute;
	top: 937px;
	left: 1371px;
	width: 548px;
	padding-left: 10px;
	padding-right: 10px;
}

#logo {
	display: block;
  float: right;
  width: 120px;
	padding: 10px;
}
