.content {
	width: 1920px;
	height: 1080px;
}

#match-name{
	color: #212121;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 1px 1px white;
	position: absolute;
	top: 483px;
	left: 3px;
}

#logo {
	display: block;
  float: right;
  width: 10%;
}
