#content {
				z-index: 2;
}

.glass-bg {
				position: absolute;
				background-color: #9e9e9e;
				width: 1920px;
				height: 1080px;
				opacity: 0.8;
				z-index: 1;
}

#countdown-area {
				display: block;
				margin: auto;
				text-align: center;
				margin-top: 21%;
				font-size: 88px;
}

#clock-main {
				color: #ffffff;
				font-family: "Droid Sans Mono";
				font-weight: normal;
				position: relative;
}

#div-message {
				display: block;
				text-align: center;
				font-size: 40px;
				color: #ffffff;
}

#background {

}

#logo {
				display: block;
				margin: auto;
				text-align: center;
				margin-top: 14%;
				height: 200px;
}
