.content {
	background-image: url("/graphics/niv-tournament/img/mwc-upcoming-3caster720.png");
	font-family: "Open Sans";
}

#mwc-logo {
	position: absolute;
	height: 150px;
	width: auto;
	left: 115px;
	top: 20px;
}

.caster1-area {
	position: absolute;
	left: 115px;
	top: 365px;
	padding-left: 5px;
	/* background-color: #0080ff */

}

.caster2-area {
	position: absolute;
	left: 489px;
	top: 365px;
	padding-left: 5px;

}

.caster3-area {
	position: absolute;
	left: 862px;
	top: 365px;
	padding-left: 5px;

}

.caster-name {
	font-weight: bold;
	font-size: 32px;
	line-height: 28px;

}

.caster-social {
	color: white;
	font-size: 20px;
}

.mapinfo-area {
	position: absolute;
	left: 26px;
	top: 594px;
	color: #0080ff;
	width: 258px;
}

#match-name {
	font-weight: bold;
	padding-left: 50px;
	padding-bottom: 10px;
}

.matchinfo-area {
	position: absolute;
	top: 430px;
	left: 120px;
	/*background-color: #c8c8c8;*/
	height: 280px;
	width: 1037px;
	font-size: 20px;
}

.playerinfo-area {
	float: left;
	width: 30%;
	/*background-color: blue;*/
}

.player-number {
	position: absolute;
	font-weight: bold;
	font-size: 140px;
	color: rgba(0,0,0,0.16);
	line-height: 100px;
}

#player1-number {
	left: 28px;
}

#player2-number {
	left: 28px;
}

.player1-textarea {
	box-sizing: border-box;
	padding-left: 50px;
	position: relative;
	height: 130px;
	line-height: 24px;
	padding-bottom: 10px;
}

.player2-textarea {
	box-sizing: border-box;
	padding-left: 50px;
	position: relative;
	height: 130px;
	line-height: 24px;
}

.player-name {
	font-weight: bold;
	font-size: 34px;
}

.mapimage-area {
	/*background-color: green;*/
	width: 70%;
	float: right;
}

.mapList {
	list-style: none;
	font-size: 16px;
	width: 760px;
	overflow: hidden;

}

.mapList li {
	display: inline;
	float: left;
	width: 33%;
	padding-bottom: 10px;


}

.mapList li img {
	height: 75px;
	float: left;
	padding-right: 3px;
}
