.content {
	background-image: url("/graphics/mwc-layout-new/img/mwc-upcomingmatch720.png");
	font-family: "Open Sans";
}

#mwc-logo {
	position: absolute;
	height: 102px;
	width: auto;
	left: 29px;
	top: 32px;
}

.caster1-area {
	position: absolute;
	left: 26px;
	top: 312px;
	padding-left: 5px;
	/* background-color: #0080ff */

}

.caster2-area {
	position: absolute;
	left: 26px;
	top: 530px;
	padding-left: 5px;

}

.caster-name {
	font-weight: bold;
	font-size: 26px;
	line-height: 22px;
	
}

.caster-social {
	color: white;
	font-size: 20px;
}

.mapinfo-area {
	position: absolute;
	left: 26px;
	top: 594px;
	color: #0080ff;
	width: 258px;
}

.mapinfo-bo3 {
	overflow: hidden;
	padding: 5px;
}

.mapinfo-bo5 {

}

.mapinfo-bo7 {

}

.mapinfo-mapcolumn {
	float: left;
	font-weight: bold;
}

.mapinfo-winnercolumn {
	float: right;
}

#match-name {
	font-weight: bold;
	text-align: center;
}

.matchinfo-area {
	opacity: 1;
	position: absolute;
	top: 159px;
	left: 303px;
	background-color: #c8c8c8;
	height: 531px;
	width: 946px;
	font-size: 20px;
}

.playerinfo-area {
	overflow: hidden;
	height: 70%;
}

.player-number {
	position: absolute;
	font-weight: bold;
	font-size: 250px;
	color: rgba(0,0,0,0.16);
	line-height: 190px;

}

#player1-number {
	left: 28px;
}

#player2-number {
	left: -24px;
}

.player1-textarea {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-left: 50px;
	position: relative;
}

.player2-textarea {
	float: left;
	width: 50%;
	box-sizing: border-box;
	position: relative;
}

.player-name {
	font-weight: bold;
	font-size: 34px;
}

.mapimage-area {
	height: 30%;
}

.mapList {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
}

.mapList li { 
	display: inline-block; 
}

.mapList li img {
	height: 100px;
}